@import '../../../app.scss';

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

.tabsContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  box-sizing: border-box;
  height: 68px;
  width: 100vw;
  background-color: $White;
  border-bottom: 1px solid #ededed;

  @include flexRow();
}

.footerItem {
  position: relative;
  width: 33.3vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: $FontSizeM;
  color: $BlackL;

  @include flexRow();
}

.activeUnderline {
  position: absolute;
  bottom: 0;
  left: calc((33.3vw - 80px) / 2);
  width: 80px;
  height: 6px;
  background-color: #1a1920;
}

.tabActive {
  color: #1a1920 !important;
}

.bijiaContainer {
  background-color: $White;
  padding: 0 24px;
}

.bijiaHeader {
  height: 72px;
  font-size: $FontSizeL;
  color: #262626;
  font-weight: bold;

  @include flexRow();
}